<div class="screen">
    <div class="layout-size">
        <form>
            <div class="d-flex align-items-center mb-4 header-form">
                <div>
                    <label class="header-title">
                        Số dư cửa hàng
                    </label>
                </div>
            </div>

            <div class="container d-flex justify-content-center">
                <form class="section-bg">

                    <div class="button-container">

                    </div>
                </form>
            </div>
        </form>
    </div>
</div>