.dialog-custom-size {
    min-width: 500px;
}

.modal-footer {
    padding: 0 18px !important;
}

button:disabled {
    color: white !important;
    opacity: 0.5;
}

.box .box-password {
    position: relative;

    .eye-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}

.form-input {
    width: 100%;
    display: flex;
    margin-bottom: 15px;

    label.label-form {
        line-height: 36px;
        margin-bottom: 0px !important;
        width: 200px;
        white-space: nowrap;
    }
}

.balance-title {
    font-size: 15px;
    font-weight: 600;
    color: #1A202C;
}

.balance-amount {
    font-size: 15px;
    font-weight: 700;
    color: #1890FF;
    margin-left: 5px;
}

.box {
    width: 100%;

    input {
        width: 100%;
        max-width: 1000px !important;
    }
}