.section-bg {
    display: flex;
    gap: 10px;
    height: 550px;
    width: 100%;
}

.section {
    background: #fff;
    border-radius: 16px;
    padding: 0.5rem 0 0rem;
    margin-top: 15px;
    height: auto;
    height: 100%;
    box-shadow: 0px 20px 24px 0px #0000001A;
    overflow: hidden;
}

.left-section {
    width: 300px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-header {
    background-color: white;
    height: 58px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0px 20px 24px 0px #0000001A;
}

.search-container {
    position: relative;
    flex: 1;

    input {
        width: 100%;
        border-radius: 4px;
        font-size: 14px;
        border: none;
    }

    .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
    }
}

.conversations-list {
    max-height: 480px;
    overflow-y: auto;
}

.conversation-item {
    display: flex;
    padding: 10px 1rem;
    cursor: pointer;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }

    .default-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: #fff;
        font-size: 18px;
    }

    .conversation-content {
        flex: 1;
    }

    .conversation-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        .user-name {
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }

        .time-ago {
            font-size: 12px;
            color: #666;
        }
    }

    .message-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 218px;
        overflow: hidden;

        .last-message {
            font-size: 14px;
            color: #666;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.unread-message {
                color: #313131;
                font-weight: 500;
            }
        }

        .unread-badge {
            background-color: #0084ff;
            border-radius: 10px;
            min-width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 6px;

            .unread-count {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

.no-conversations {
    text-align: center;
    color: #666;
    padding: 20px 0;
    font-size: 16px;
}

/* Phần chi tiết chat */
.chat-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    height: 58px;
    box-shadow: 0px 20px 24px 0px #0000001A;
}

.chat-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 5px;
}

.header-info {
    flex: 1;
}

.header-name {
    font-size: 16px;
    font-weight: 600;
}

.online-status-container {
    display: flex;
    align-items: center;
}

.online-indicator {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 6px;
}

.online-indicator-active {
    background-color: #4CAF50;
}

.online-indicator-inactive {
    background-color: #9E9E9E;
}

.header-status {
    font-size: 12px;
    color: #666;
}

.messages-list {
    padding: 16px 16px 0;
    overflow-y: auto;
    height: 425px;
    transition: height 0.3s ease;
}

.chat-detail.has-preview .messages-list {
    height: 360px;
}

.message-group {
    margin-bottom: 20px;
}

.timestamp-container {
    align-self: center;
    background-color: #f0f0f0;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    margin: 0 auto 10px;
}

.timestamp-text {
    font-size: 12px;
    color: #666;
}

.message-container {
    display: flex;
    margin-bottom: 4px;
    align-items: flex-start;
}

.own-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 8px;
    margin-top: 3px;
}

.avatar-spacer {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.message-bubble {
    padding: 12px;
    border-radius: 16px;
    display: inline-block;
    word-wrap: break-word;
}

.own-bubble {
    background-color: #0084ff;
    border-bottom-right-radius: 0;
    color: #fff;
}

.other-bubble {
    background-color: #f0f0f0;
    border-bottom-left-radius: 0;
    color: #000;
}

.first-bubble {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.last-bubble {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.message-text {
    font-size: 16px;
}

.own-message-text {
    color: #fff;
}

.other-message-text {
    color: #000;
}

.status-container {
    margin-top: 4px;
    align-self: flex-end;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.status-container.hide-status {
    opacity: 0;
    pointer-events: none;
}

.status-text {
    font-size: 12px;
    color: #8e8e8e;
}

.status-icon {
    color: #4CAF50;
}

.error-text {
    color: #ff3b30;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #fff;
    gap: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
    max-width: 2000px !important;
    transition: height 0.3s ease;
}

.input-container.expanded {
    height: auto;
    padding-bottom: 8px;
    flex-wrap: wrap;
}

.image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 2px;
}

.image-icon {
    width: 24px;
    height: 24px;
}

.message-input {
    flex: 1;
    padding: 10px 16px;
    background-color: #f5f5f5;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.2s;
    max-width: 2000px !important;

    &:focus {
        outline: none;
        background-color: #ececec;
    }
}

.send-button {
    padding: 8px;
    background-color: #0084ff;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: all 0.2s ease;

    &:hover {
        opacity: 0.9;
    }

    &.disabled {
        opacity: 0.6;

        &:hover {
            opacity: 0.6;
        }
    }
}

.send-icon {
    color: #fff;
    font-size: 20px;
}

.message-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-bottom: 5px;
    object-fit: cover;
    margin-right: 5px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.image-preview-container {
    position: relative;
    margin-right: 10px;
}

.preview-images {
    display: flex;
    gap: 5px;
}

.image-preview {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.remove-image {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #ff3b30;
    border: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.remove-image nb-icon {
    color: #fff;
    font-size: 12px;
}

label {
    margin-bottom: 0px !important;
}