<div class="screen">
    <div class="layout-size">
        <div class="">
            <div class="section-bg">
                <!-- Left Section -->
                <div class="section left-section">
                    <div class="search-header">
                        <div class="search-container">
                            <input type="text" nbInput placeholder="Tìm kiếm theo tên" (input)="onSearch($event)" />
                        </div>
                        <img [src]="icon_filter_chat" />
                    </div>
                    <div class="conversations-list"
                        *ngIf="(filteredConversations.length > 0 && userInfo); else noConversations">
                        <div class="conversation-item" *ngFor="let conversation of filteredConversations"
                            (click)="handleConversationPress(conversation.otherUser.id ?? 0)">
                            <img [src]="preImage + '/' + conversation.otherUser.image_url" class="avatar" alt="Avatar"
                                *ngIf="conversation.otherUser.image_url; else defaultAvatar" />
                            <ng-template #defaultAvatar>
                                <div class="default-avatar">?</div>
                            </ng-template>
                            <div class="conversation-content">
                                <div class="conversation-header">
                                    <span class="user-name">
                                        {{conversation.otherUser.name || 'Anonymous'}}
                                    </span>
                                    <span class="time-ago">
                                        {{conversation.lastMessage.createdAt | TimeAgoPipe}}
                                    </span>
                                </div>
                                <div class="message-preview">
                                    <span class="last-message"
                                        [ngClass]="{ 'unread-message': conversation.unreadCount > 0 }">
                                        {{ conversation.lastMessage.senderId === userInfo.id ? 'Bạn: ' : '' }}
                                        {{
                                        conversation.lastMessage.messageType === 'image'
                                        ? 'Đã gửi hình ảnh' : conversation.lastMessage.message
                                        }}
                                    </span>
                                    <div class="unread-badge" *ngIf="conversation.unreadCount > 0">
                                        <span class="unread-count">{{ conversation.unreadCount }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #noConversations>
                        <div class="no-conversations">Không có hội thoại</div>
                    </ng-template>
                </div>
                <!-- Right Section -->
                <div class="section right-section">
                    <div class="chat-detail" [class.has-preview]="previewUrls.length > 0"
                        *ngIf="selectedReceiverId && otherUser">
                        <div class="chat-header">
                            <img [src]="preImage + '/' + otherUser.image_url" class="header-avatar" alt="Avatar"
                                *ngIf="otherUser.image_url; else defaultHeaderAvatar" />
                            <ng-template #defaultHeaderAvatar>
                                <div class="default-avatar">?</div>
                            </ng-template>
                            <div class="header-info">
                                <span class="header-name">{{ otherUser.name || 'Anonymous' }}</span>
                                <div class="online-status-container">
                                    <div class="online-indicator" [ngClass]="{
                                    'online-indicator-active': isOtherUserOnline,
                                    'online-indicator-inactive': !isOtherUserOnline
                                }"></div>
                                    <span class="header-status">
                                        {{ isOtherUserOnline ? 'Đang hoạt động' : 'Không hoạt động' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="messages-list" #messagesList>
                            <div class="message-group"
                                *ngFor="let group of groupedMessages; let i = index; let last = last">
                                <div class="timestamp-container">
                                    <span class="timestamp-text">{{ group.timestamp }}</span>
                                </div>
                                <div class="message-container" *ngFor="let msg of group.messages; let msgIndex = index"
                                    [ngClass]="{
                                    'own-message': msg.senderId === userInfo.id,
                                    'other-message': msg.senderId !== userInfo.id
                                }">
                                    <img [src]="preImage + '/' + otherUser.image_url" class="avatar" alt="Avatar"
                                        *ngIf="msg.senderId !== userInfo.id && otherUser.image_url; else avatarSpacer" />
                                    <ng-template #avatarSpacer>
                                        <div class="avatar-spacer"></div>
                                    </ng-template>
                                    <div class="message-bubble" [ngClass]="{
                                        'own-bubble': msg.senderId === userInfo.id,
                                        'other-bubble': msg.senderId !== userInfo.id,
                                        'first-bubble': msgIndex === 0,
                                        'last-bubble': msgIndex === group.messages.length - 1
                                    }">
                                        <ng-container *ngIf="msg.attachments && msg.attachments.length > 0">
                                            <div class="images-container">
                                                <img *ngFor="let attachment of msg.attachments" [src]="attachment.url"
                                                    class="message-image" alt="Message Image" />
                                            </div>
                                        </ng-container>
                                        <span class="message-text" [ngClass]="{
                                            'own-message-text': msg.senderId === userInfo.id,
                                            'other-message-text': msg.senderId !== userInfo.id
                                        }" *ngIf="msg.message">
                                            {{ msg.message }}
                                        </span>
                                    </div>
                                    <div class="status-container" *ngIf="msg.senderId === userInfo.id">
                                        <span class="status-text" *ngIf="msg.status === StatusMessage.SENDING">
                                            Đang gửi
                                        </span>
                                        <span class="status-text error-text"
                                            *ngIf="msg.status === StatusMessage.FAILED">
                                            lỗi gửi tin nhắn
                                        </span>
                                        <span class="status-text"
                                            *ngIf="(msgIndex === group.messages.length - 1) && last && msg.status === StatusMessage.SENT && !msg.isRead">
                                            Đã gửi
                                        </span>
                                        <nb-icon icon="checkmark-circle-outline"
                                            *ngIf="(msgIndex === group.messages.length - 1) && last && msg.status === StatusMessage.SENT && msg.isRead"
                                            size="small" class="status-icon"></nb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-container" [class.expanded]="previewUrls.length > 0">
                            <div class="image-preview-container" *ngIf="previewUrls.length > 0">
                                <div class="preview-images">
                                    <img *ngFor="let url of previewUrls" [src]="url" class="image-preview"
                                        alt="Image Preview" />
                                </div>
                                <button class="remove-image" (click)="clearImagePreviews()">
                                    <nb-icon icon="close-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="d-flex align-items-center w-100">
                                <label for="fileInput" class="image-button">
                                    <img [src]="icon_camera_upload" class="image-icon" />
                                </label>
                                <input type="file" id="fileInput" #fileInput (change)="handleImageSelect($event)"
                                    style="display: none;" accept="image/*" multiple />
                                <input nbInput type="text" placeholder="Nhập tin nhắn..." [(ngModel)]="message"
                                    (keyup.enter)="handleSendMessage()" class="message-input" #inputRef />
                                <button (click)="handleSendMessage()" class="send-button"
                                    [ngClass]="{'disabled': !message.trim() && previewUrls.length === 0}">
                                    <nb-icon icon="paper-plane-outline" class="send-icon"></nb-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>