<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div class="mr-3 icons_arrow_line" *ngIf="action === actionWebs.UPDATE" (click)="onCancel()">
                <img src="{{ icons_arrow_line }}" class="icon-back" />
            </div>
            <div class="d-flex flex-column">
                <label class="header-title">
                    Thêm mới sản phẩm
                </label>
            </div>
            <div class="button-header">
                <button nbButton *ngIf="action === actionWebs.UPDATE" class="button-cancel-form" (click)="onCancel()">
                    Hủy
                </button>
                <button nbButton class="button-submit-form ml-2" (click)="onSave()">
                    {{
                    action === actionWebs.CREATE ? 'Thêm mới' : 'Lưu'
                    }}
                </button>
            </div>
        </div>
        <div class="body-form">
            <ng-container [ngTemplateOutlet]="cruRef"></ng-container>
        </div>
    </div>
</div>

<ng-template #cruRef>
    <form *ngIf="cruForm" [formGroup]="cruForm">
        <span class="sub-title">Thông tin cơ bản</span>
        <div class="info-wrapper">
            <div class="info-left">
                <div class="info">
                    <label for="name">
                        Tên sản phẩm<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="product_name" id="name" placeholder="Nhập tên">
                    </div>
                </div>
                <div class="info">
                    <label for="origin">
                        Xuất xứ<span class="required">*</span>
                    </label>
                    <div class="select-wrapper">
                        <nb-select formControlName="origin" placeholder="Chọn xuất xứ">
                            <nb-option *ngFor="let origin of originList" [value]="origin">
                                {{origin}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
                <div class="info">
                    <label for="unit_price">
                        Giá thành<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="unit_price" id="unit_price"
                            placeholder="Nhập giá thành">
                    </div>
                </div>
                <div class="info">
                    <label for="description">Mô tả sản phẩm</label>
                    <div class="input-container">
                        <textarea nbInput formControlName="description" id="description" placeholder="Mô tả"></textarea>
                    </div>
                </div>
            </div>
            <div class="info-right">
                <div class="info">
                    <label>
                        Danh sách ảnh<span class="required">*</span>
                    </label>
                    <div class="info-image-wrapper" formArrayName="image_urls">
                        <div class="image-list"
                            *ngIf="(cruForm.get('image_urls')?.value.length + infoImageUrls.length) > 0">
                            <div class="image-child"
                                *ngFor="let image of cruForm.get('image_urls')?.value;let i = index">
                                <img src="{{preImage}}/{{image.image_url}}" class="image">
                                <img [src]="icon_delete" class="common-icon"
                                    (click)="onRemoveInfoImageFiles(i, false)" />
                            </div>
                            <div class="image-child" *ngFor="let image of infoImageUrls;let i = index">
                                <img [src]="image.url" class="image">
                                <img [src]="icon_delete" class="common-icon"
                                    (click)="onRemoveInfoImageFiles(i, image.isNew)" />
                            </div>
                        </div>
                        <div class="no-data-list"
                            *ngIf="(cruForm.get('image_urls')?.value.length + infoImageUrls.length) === 0">
                            <span>Không có dữ liệu</span>
                        </div>
                        <label class="upload-image" for="info-product-files">
                            <img [src]="icon_upload_v2">
                            <span>Upload files</span>
                        </label>
                        <input #infoImageFiles (change)="onChangeFiles($event, infoImageFiles.files)" type="file"
                            multiple id="info-product-files" accept=".png, .jpg, .jpeg" [hidden]="true" />
                    </div>
                </div>
            </div>
        </div>
        <span class="sub-title">Danh sách biến thể</span>
        <div>
            <button nbButton class="button-submit-form mb-2" (click)="onAddVariantControl()">
                Thêm biến thể
            </button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Màu sắc</th>
                        <th>Kích cỡ</th>
                        <th>SKU</th>
                        <th>Tồn kho</th>
                        <th class="action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container formArrayName="product_variants">
                        <tr *ngFor="let variant of product_variants.controls; let j = index" [formGroupName]="j">
                            <td>{{j + 1}}</td>
                            <td>
                                <div class="image-container">
                                    <label for="file-{{j}}">
                                        <img *ngIf="variant.get('image_url')?.value !== ''"
                                            [src]="variant.get('image_url')?.value">
                                        <img *ngIf="variant.get('image_url')?.value === ''" [src]="image_not_found">
                                    </label>
                                    <input (change)="onChangeVariantFile(j, $event)" type="file"
                                        accept=".png, .jpg, .jpeg" id="file-{{j}}" [hidden]="true">
                                </div>
                            </td>
                            <td>
                                <nb-select formControlName="colorId" style="max-width: 200px;">
                                    <nb-select-label>
                                        <span class="color-opt"
                                            [style]="{'background-color': variant.get('colorId')?.value | transformColorId: allColors}"></span>
                                    </nb-select-label>
                                    <nb-option [value]="color.id" *ngFor="let color of allColors">
                                        <span class="color-opt" [style]="{'background-color': color.color_code}"></span>
                                    </nb-option>
                                </nb-select>
                            </td>
                            <td>
                                <nb-select formControlName="sizeId" style="max-width: 200px;">
                                    <nb-option [value]="size.id" *ngFor="let size of allSizes">
                                        {{size.size_code}}
                                    </nb-option>
                                </nb-select>
                            </td>
                            <td>
                                <div class="input-container" style="max-width: 200px;">
                                    <input class="disabled" nbInput type="text" formControlName="sku">
                                </div>
                            </td>
                            <td>
                                <div class="input-container">
                                    <input nbInput type="text" formControlName="stock_quantity">
                                </div>
                            </td>
                            <td style="width: 10%;text-align: right;">
                                <img [src]="icon_delete" class="common-icon">
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </form>
</ng-template>