$textActiveColor: #1890FF;
$backgroundActiveColor: #E6F7FF;
$backgroundActiveIconColor: #BAE7FF;

.body-form {
  max-width: 700px;
  margin: 60px auto;
  min-height: 200px;
}

.header-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-top: 5px;
  letter-spacing: 0%;
  color: #00427D;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 0.5rem;

  .title-form {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0f2128;
    margin: 0;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  margin-top: 32px;
}

.form-input {
  width: 100%;
  display: flex;
  margin-bottom: 15px;

  label.label-form {
    line-height: 36px;
    margin-bottom: 0px;
    width: 200px;
    white-space: nowrap;
  }
}

.box {
  width: 100%;

  .box-password {
    position: relative;

    .eye-icon {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }

  input {
    width: 100%;
    max-width: 1000px !important;
  }
}