.tab{
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.tab-select{
    border-bottom: 2px solid #0066cc;
    color: #0066cc;
}