<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div style="width: 200px;">
                <label class="header-title">Danh sách cửa hàng</label>
            </div>
            <div class="button-header">
                <button nbButton class="button-submit-form ml-2" (click)="onCreate()">
                    Thêm cửa hàng
                </button>
            </div>
        </div>
        <div class="body-form">
            <shop-list-component></shop-list-component>
        </div>
    </div>
</div>