<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div style="width: 100%;">
                <label class="header-title">Danh sách sản phẩm</label>
            </div>
            <div class="button-header">
                <button nbButton class="button-submit-form ml-2" (click)="onCreate()">
                    Thêm sản phẩm
                </button>
            </div>
        </div>
        <div class="body-form">
            <product-list-component></product-list-component>
        </div>
    </div>
</div>