<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div class="mr-3 icons_arrow_line" (click)="onCancel()">
                <img src="{{ icons_arrow_line }}" class="icon-back" />
            </div>
            <div class="d-flex flex-column">
                <label class="header-title">
                    {{
                    action === actionWebs.CREATE
                    ? "Thêm nhân sự"
                    : updatedName
                    }}
                </label>
            </div>
            <div class="button-header">
                <button nbButton *ngIf="action === actionWebs.UPDATE" class="button-cancel-form" (click)="onCancel()">
                    Hủy
                </button>
                <button nbButton class="button-submit-form ml-2" (click)="onSave()">
                    {{
                    action === actionWebs.CREATE ? 'Thêm mới' : 'Lưu'
                    }}
                </button>
            </div>
        </div>
        <div class="body-form">
            <ng-container [ngTemplateOutlet]="cruRef"></ng-container>
        </div>
    </div>
</div>

<ng-template #cruRef>
    <form *ngIf="cruForm" [formGroup]="cruForm">
        <span class="sub-title">Thông tin chi tiết</span>
        <div class="info-wrapper">
            <div class="info-left">
                <div class="info-logo">
                    <div class="logo-wrapper">
                        <img class="no-logo" [src]="icon_no_logo_shop">
                    </div>
                    <div class="upload-logo-wrapper">
                        <label class="upload-image" for="logo-files">
                            <img [src]="icon_upload_v3" />
                            <span>Tải logo</span>
                        </label>
                        <input #infoImageFile type="file" id="logo-files" accept=".png, .jpg, .jpeg" [hidden]="true" />
                    </div>
                </div>
            </div>
            <div class="info-right">
                <div class="info">
                    <label for="shop_name">
                        Tên cửa hàng<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="shop_name" id="shop_name" placeholder="Nhập họ tên"
                            [ngClass]="{
                            'invalid-form': (cruForm.get('shop_name')?.dirty || isSubmit) && cruForm.get('shop_name')?.invalid
                        }">
                        <ng-container
                            *ngIf="(cruForm.get('shop_name')?.dirty || isSubmit) && cruForm.get('shop_name')?.invalid">
                            <p *ngIf="cruForm.get('shop_name')?.hasError('required')" class="vali-text-false">
                                Tên cửa hàng không được bỏ trống
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="info">
                    <label for="contact_email">
                        Email liên hệ<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="email" formControlName="contact_email" id="contact_email"
                            placeholder="Nhập email" [ngClass]="{
                            'invalid-form': (cruForm.get('contact_email')?.dirty || isSubmit) && cruForm.get('contact_email')?.invalid
                        }">
                        <ng-container
                            *ngIf="(cruForm.get('contact_email')?.dirty || isSubmit) && cruForm.get('contact_email')?.invalid">
                            <p *ngIf="cruForm.get('contact_email')?.hasError('required')" class="vali-text-false">
                                Tên cửa hàng không được bỏ trống
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="info">
                    <label for="contact_address">
                        Địa chỉ liên hệ<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="contact_address" id="contact_address"
                            placeholder="Nhập địa chỉ" [ngClass]="{
                            'invalid-form': (cruForm.get('contact_address')?.dirty || isSubmit) && cruForm.get('contact_address')?.invalid
                        }">
                        <ng-container
                            *ngIf="(cruForm.get('contact_address')?.dirty || isSubmit) && cruForm.get('contact_address')?.invalid">
                            <p *ngIf="cruForm.get('contact_address')?.hasError('required')" class="vali-text-false">
                                Địa chỉ liên hệ không được bỏ trống
                            </p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column" style="padding: 10px 18px;">
            <label for="shop_name">
                Mô tả cửa hàng
            </label>
            <app-ckeditor [placeholder]="'Mô tả cửa hàng'"></app-ckeditor>
        </div>
        <div class="padding-form upload-background-wrapper">
            <label>
                Tải ảnh nền<span class="required">*</span>
            </label>
            <label for="backgroundForm" class="no-background">
                <img [src]="icon_upload_v4" />
                <span class="upload-text">Tải ảnh nền</span>
            </label>
            <input type="file" id="backgroundForm" accept=".png, .jpg, .jpeg" hidden />
        </div>
    </form>
</ng-template>