<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <span class="header-title">Thống kê</span>
        </div>
        <filter-stats-component (OnFilter)="onFilterStats($event)"></filter-stats-component>
        <!-- Overview Stats -->
        <div class="row-container grid">
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Cửa hàng mới</div>
                    <div class="value">
                        {{(shopOverview && shopOverview.totalNewShops) || 0}}
                    </div>
                </div>
                <div class="icon-stats revenue">
                    <img [src]="icon_money_bag" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Tổng đơn hàng</div>
                    <div class="value">{{(orderActivityOverview && orderActivityOverview.totalOrders)|| 0}}</div>
                </div>
                <div class="icon-stats order">
                    <img [src]="icon_complete_order" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Sản phẩm đăng bán</div>
                    <div class="value">{{ (productPerformanceOverview && productPerformanceOverview.totalProductsListed)
                        || 0}}</div>
                </div>
                <div class="icon-stats sold-product">
                    <img [src]="icon_product_widge" />
                </div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Cửa hàng mới
                </div>
                <div *ngIf="!shopChartOptions || shopOverview?.periods?.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="shopChartOptions && shopOverview && shopOverview.periods.length > 0" echarts
                    [options]="shopChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Hoạt động đơn hàng
                </div>
                <div *ngIf="!orderChartOptions || orderActivityOverview?.orders?.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="orderChartOptions && orderActivityOverview && orderActivityOverview.orders.length > 0"
                    echarts [options]="orderChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart low-stock">
                <div class="box-chart-title">
                    Sản phẩm bán chạy
                </div>
                <div *ngIf="productPerformanceOverview.topProducts.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div class="table-responsive mt-1" *ngIf=" productPerformanceOverview.topProducts.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã sãn phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let product of productPerformanceOverview.topProducts| paginate: pagingTopProduct;let i = index">
                                <td>{{product.id}}</td>
                                <td>
                                    {{product?.product_name}}
                                </td>
                                <td>{{product.sold_quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; align-items: center;margin-top: auto;">
                    <div class="total-items" *ngIf="productPerformanceOverview.topProducts.length > 0">
                        <span>Tổng số: {{ pagingTopProduct.totalItems }}</span>
                    </div>
                    <div *ngIf="productPerformanceOverview.topProducts.length > 3" class="pagination-flex">
                        <pagination-controls (pageChange)="onPageTopProductChange($event)" previousLabel=""
                            nextLabel="">
                        </pagination-controls>
                    </div>
                </div>
            </div>
            <div class="box-chart low-stock">
                <div class="box-chart-title">
                    Sản phẩm đánh giá thấp
                </div>
                <div *ngIf="productPerformanceOverview.lowRatedProducts.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div class="table-responsive mt-1" *ngIf=" productPerformanceOverview.lowRatedProducts.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã sãn phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Đánh Giá (Sao)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let product of productPerformanceOverview.lowRatedProducts | paginate: pagingLowRatedProduct;let i = index">
                                <td>{{product.id}}</td>
                                <td>
                                    {{product?.product_name}}
                                </td>
                                <td>{{product.avgRating | number:'1.1-1'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; align-items: center;margin-top: auto;">
                    <div class="total-items" *ngIf="productPerformanceOverview.lowRatedProducts.length > 0">
                        <span>Tổng số: {{ pagingLowRatedProduct.totalItems }}</span>
                    </div>
                    <div *ngIf="productPerformanceOverview.lowRatedProducts.length > 3" class="pagination-flex">
                        <pagination-controls (pageChange)="onPageLowRatedProductChange($event)" previousLabel=""
                            nextLabel="">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Hiệu suất sản phẩm
                </div>
                <div *ngIf="!productChartOptions || productPerformanceOverview?.productsListed?.length === 0"
                    class="no-data-wrapper">
                    <img [src]="image_chart_line" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="productChartOptions && productPerformanceOverview && productPerformanceOverview.productsListed.length > 0"
                    echarts [options]="productChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Sản phẩm theo danh mục
                </div>
                <div *ngIf="!categoryChartOptions || productCategoryOverview?.categoryStats?.length === 0"
                    class="no-data-wrapper">
                    <img [src]="image_chart_line" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="categoryChartOptions && productCategoryOverview && productCategoryOverview.categoryStats.length > 0"
                    echarts [options]="categoryChartOptions" class="chart-container"></div>
            </div>
        </div>
    </div>
</div>