<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div style="width: 200px;">
                <label class="header-title">Danh sách danh mục</label>
            </div>
            <div class="button-header">
                <!-- <button nbButton class="button-submit-form ml-2" (click)="onCreate()">
                    Thêm danh mục
                </button> -->
            </div>
        </div>
        <div class="body-form">
            <category-list-component></category-list-component>
        </div>
    </div>
</div>