<div class="router-static">
    <div class="search-and-filter">
        <div class="search-input-container">
            <input nbInput type="text" placeholder="Nhập tên cửa hàng">
        </div>
        <button nbButton class="util-box">
            <img class="common-icon" [src]="icon_filter" />
        </button>
        <button nbButton class="util-box">
            <img class="common-icon" [src]="icon_refresh" />
        </button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">
                            <nb-icon class="table-header" icon="hash-outline"></nb-icon>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">
                            <span>Logo</span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">
                            <span>Cửa hàng</span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">
                            <span>Tài khoản</span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center" style="gap: 5px;">
                            <span>Tình trạng</span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shop of shops | paginate: paging;let i = index" (click)="onViewDetails(shop.id ?? 0)">
                    <td style="width: 5%;">
                        <span style="font-size: 14px;">
                            {{offset + i}}
                        </span>
                    </td>
                    <td style="width: 13%;">
                        <div class="image-container">
                            <img *ngIf="shop.logo_url !== ''" src="{{preImage}}/{{shop.logo_url}}">
                            <img *ngIf="shop.logo_url === ''" [src]="image_not_found">
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <span style="font-size: 14px;">
                            {{shop.shop_name}}
                        </span>
                    </td>
                    <td style="width: 12%;">
                        <div class="d-flex flex-column">
                            <span style="font-size: 14px;">
                                {{shop.user?.email ?? "&mdash;"}}
                            </span>
                        </div>
                    </td>
                    <td style="width: 14%;">
                        <div class="status-box" [ngClass]="{
                            'pending': shop.status === shopStatus.PENDING,
                            'active': shop.status === shopStatus.ACTIVE,
                            'inactive': shop.status === shopStatus.INACTIVE
                        }">
                            <img [src]="icon_edit_white_with_line" />
                            <span>{{shop.status ?? '' | transformShopStatus}}</span>
                        </div>
                    </td>
                    <td style="width: 10%;" (click)="$event.stopPropagation()">
                        <div class="list-actions">
                            <img class="common-icon" [src]="icon_edit" [nbTooltip]="'Xem chi tiết'"
                                nbTooltipPlacement="bottom" (click)="onViewDetails(shop.id ?? 0)" />
                            <img class="common-icon" [src]="icon_tick_accept" [nbTooltip]="'Chấp thuận'"
                                nbTooltipPlacement="bottom" (click)="onConfirmRequest(shop, i, actionWebs.ACCEPT)" />
                            <img class="common-icon" [src]="icon_close_refuse" [nbTooltip]="'Bác bỏ'"
                                nbTooltipPlacement="bottom" (click)="onConfirmRequest(shop, i, actionWebs.DECLINE)" />
                        </div>
                    </td>
                </tr>
                <tr *ngIf="shops.length === 0">
                    <td class="table-no-data text-center" colspan="11">
                        Không có dữ liệu
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; align-items: center;">
        <div class="total-items">
            <span>Tổng số: {{ paging.totalItems }}</span>
        </div>
        <div class="pagination-flex">
            <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>