<div class="screen">
  <div class="layout-size">
    <div class="d-flex align-items-center mb-2 header-form justify-contents-between">
      <div>
        <label class="header-title">
          Đổi mật khẩu
        </label>
      </div>
    </div>
    <div class="body-form d-flex flex-column">
      <form class="modal-body" *ngIf="form" [formGroup]="form" autocomplete="off">
        <div class="form-input">
          <label class="label-form">
            Mật khẩu cũ
          </label>
          <div class="box">
            <div class="box-password">
              <input nbInput formControlName="currentPassword" class="input-form"
                [type]="isCurrentPasswordVisible ? 'text' : 'password'" placeholder="Nhập mật khẩu cũ"
                [ngClass]="{'invalid-form': (form.get('currentPassword')?.dirty  || isSubmit) && form.get('currentPassword')?.invalid}">
              <i class="eye-icon" (click)="toggleCurrentPasswordVisibility()">
                <ng-container *ngIf="isCurrentPasswordVisible; else hideEye">
                  <img src="{{ icon_eye_off }}" alt="" />
                </ng-container>
                <ng-template #hideEye>
                  <img src="{{ icon_eye }}" alt="" />
                </ng-template>
              </i>
            </div>
            <div *ngIf="((form.get('currentPassword')?.dirty || isSubmit) && form.get('currentPassword')?.invalid)">
              <small class="vali-text-false" *ngIf="form.get('currentPassword')?.hasError('required')">
                Mật khẩu không được để trống
              </small>
              <small class="vali-text-false" *ngIf="form.get('currentPassword')?.hasError('invalidPassword')">
                Mật khẩu tối thiểu 6 ký tự
              </small>
              <small class="vali-text-false" *ngIf="form.get('currentPassword')?.hasError('equalPassword')">
                Mật khẩu không đúng
              </small>
            </div>
          </div>
        </div>
        <div class="form-input">
          <label class="label-form">
            Mật khẩu mới
          </label>
          <div class="box">
            <div class="box-password">
              <input nbInput formControlName="newPassword" class="input-form"
                [type]="isNewPasswordVisible ? 'text' : 'password'" placeholder="Nhập mật khẩu mới" autocomplete="off"
                [ngClass]="{'invalid-form': ((form.get('newPassword')?.dirty  || isSubmit) && form.get('newPassword')?.invalid) || form.hasError('matchPassword')}">
              <i class="eye-icon" (click)="toggleNewPasswordVisibility()">
                <ng-container *ngIf="isNewPasswordVisible; else hideEye">
                  <img src="{{ icon_eye_off }}" alt="" />
                </ng-container>
                <ng-template #hideEye>
                  <img src="{{ icon_eye }}" alt="" />
                </ng-template>
              </i>
            </div>
            <div
              *ngIf="((form.get('newPassword')?.dirty || isSubmit) && form.get('newPassword')?.invalid) || form.hasError('matchPassword')">
              <small class="vali-text-false" *ngIf="form.get('newPassword')?.hasError('required')">
                Mật khẩu không được để trống
              </small>
              <small class="vali-text-false" *ngIf="form.get('newPassword')?.hasError('invalidPassword')">
                Mật khẩu tối thiểu 6 ký tự
              </small>
              <small class="vali-text-false" *ngIf="form.hasError('matchPassword')">
                Mật khẩu không trùng khớp
              </small>
            </div>
          </div>
        </div>
        <div class="form-input">
          <label class="label-form">
            Xác nhận mật khẩu
          </label>
          <div class="box">
            <div class="box-password">
              <input nbInput formControlName="confirmPassword" class="input-form"
                [type]="isConfirmPasswordVisible ? 'text' : 'password'" placeholder="Nhập mật khẩu mới"
                [ngClass]="{'invalid-form': ((form.get('confirmPassword')?.dirty  || isSubmit) && form.get('confirmPassword')?.invalid) || form.hasError('matchPassword')}">
              <i class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
                <ng-container *ngIf="isConfirmPasswordVisible; else hideEye">
                  <img src="{{ icon_eye_off }}" alt="" />
                </ng-container>
                <ng-template #hideEye>
                  <img src="{{ icon_eye }}" alt="" />
                </ng-template>
              </i>
            </div>
            <div
              *ngIf="((form.get('confirmPassword')?.dirty || isSubmit) && form.get('confirmPassword')?.invalid) || form.hasError('matchPassword')">
              <small class="vali-text-false" *ngIf="form.get('confirmPassword')?.hasError('required')">
                Mật khẩu không được để trống
              </small>
              <small class="vali-text-false" *ngIf="form.get('confirmPassword')?.hasError('invalidPassword')">
                Mật khẩu tối thiểu 6 ký tự
              </small>
              <small class="vali-text-false" *ngIf="form.hasError('matchPassword')">
                Mật khẩu không trùng khớp
              </small>
            </div>
          </div>
        </div>
        <div class="button-container">
          <button nbButton class="button-submit-form ml-2" (click)="onSave()">
            Lưu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>