<div class="header-container">
  <div class="logo-container dtrust" (click)="toOverview()">
    <div>
      <a class="sidebar-toggle mr-2">
        <img src="{{logo}}" alt="" class="logo-safegate-header" />
      </a>
    </div>
    <a style="text-decoration: none">
      <div class="box-title">
        <div class="d-flex">
          <span class="text-title">Fashion Zone</span>
        </div>
        <span class="text-title-deps">Xu hướng mới, mua sắm dễ dàng</span>
      </div>
    </a>
  </div>
</div>

<div class="header-container">
  <div class="notification-wrapper">
    <div class="notification-button" (click)="onToggleNotification()">
      <img [src]="icon_bell_outline" />
      <div class="dot-unread" *ngIf="unreadCount > 0"></div>
    </div>
    <div class="notification-dropdown" [ngClass]="{'open': isOpenNotification}">
      <div class="header">
        <span>Thông báo</span>
        <div class="read-all" (click)="onReadAll()">
          <img [src]="icon_check_all" />
        </div>
      </div>
      <div class="line-tab">
        <div class="tab" [ngClass]="{'tab-select': TabSelect === Tabs.All}" (click)="onChangeNotifyTab(Tabs.All)">
          Tất cả
        </div>
        <div class="tab" [ngClass]="{'tab-select': TabSelect === Tabs.Unread}" (click)="onChangeNotifyTab(Tabs.Unread)">
          Chưa đọc
        </div>
      </div>
      <div class="notification-list">
        <div class="notification-item" *ngFor="let notification of displayNotifications" (click)="onRead(notification)">
          <div class="image">
            <img [src]="image_notification" />
          </div>
          <!-- Đơn hàng mới -->
          <div class="item-content" *ngIf="notification.type === NotificationType.ORDER_NEW">
            <div class="item-title">
              Đơn hàng mới
            </div>
            <div class="item-message">
              Bạn có đơn hàng #{{notification.reference_id}}.
              Tổng: {{(notification.data?.shop_total ?? 0) | CurrencyPipe}} VNĐ
            </div>
            <div class="item-time">
              {{notification.created_at! | TimeAgoV2Pipe}}
            </div>
          </div>
          <!-- Hủy đơn hàng -->
          <div class="item-content" *ngIf="notification.type === NotificationType.ORDER_CANCELED">
            <div class="item-title">
              Đơn hàng đã bị hủy
            </div>
            <div class="item-message">
              Bạn có đơn hàng #{{notification.reference_id}} đã bị hủy bởi người dùng
            </div>
            <div class="item-time">
              {{notification.created_at! | TimeAgoV2Pipe}}
            </div>
          </div>
          <!-- Đơn đăng ký cửa hàng mới -->
          <div class="item-content" *ngIf="notification.type === NotificationType.STORE_REGISTRATION_REQUEST">
            <div class="item-title">
              Đơn đăng ký cửa hàng mới
            </div>
            <div class="item-message">
              Bạn có đơn đăng ký cửa hàng mới #{{notification.reference_id}}
            </div>
            <div class="item-time">
              {{notification.created_at! | TimeAgoV2Pipe}}
            </div>
          </div>
        </div>
        <div class="not-found">
          <span>Không tìm thấy thông báo</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-2">
    <button mat-button #account_button="matMenuTrigger" [matMenuTriggerFor]="account_menu" class="no-hover mr-sm-3">
      <img *ngIf="userInfo && userInfo.image_url === ''" class="avatar" src="{{ avt_3 }}" />
      <img *ngIf="userInfo && userInfo.image_url !== ''" class="avatar" src="{{preImage}}/{{ userInfo.image_url }}" />
    </button>
    <mat-menu #account_menu="matMenu">
      <div class="row avatar-container m-0">
        <div class="background"></div>
        <avatar *ngIf="!userInfo || userInfo && userInfo.image_url === ''" style="width: 64px; height: 64px"
          [imagePath]="getAva()" [nameSize]="28">
        </avatar>
        <avatar *ngIf="userInfo && userInfo.image_url !== ''" style="width: 64px; height: 64px"
          [imagePath]="preImage + '/' + userInfo.image_url" [nameSize]="28"></avatar>
      </div>
      <div class="col-lg-12 text-center mt-4">
        <p class="font-weight-bold prevent-overflow">{{userInfo && userInfo.name}}</p>
      </div>

      <button mat-menu-item (click)="toChangePassword()">
        <img src="{{ change_password }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">
          Đổi mật khẩu
        </span>
      </button>
      <button mat-menu-item (click)="toAccountManagement()">
        <img src="{{ account_setting }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">
          Thông tin tài khoản
        </span>
      </button>
      <button mat-menu-item (click)="logOut()" class="log-out">
        <img src="{{ logout }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">
          Đăng xuất
        </span>
      </button>
    </mat-menu>
  </div>
</div>