<div class="header-container">
  <div class="logo-container dtrust" routerLink="{{routerBase}}">
    <div>
      <a class="sidebar-toggle mr-2">
        <img src="{{logo}}" alt="" class="logo-safegate-header" />
      </a>
    </div>
    <a style="text-decoration: none">
      <div class="box-title">
        <div class="d-flex">
          <span class="text-title">SafeGate Office</span>
        </div>
        <span class="text-title-deps">Smart Firewall</span>
      </div>
    </a>
  </div>
</div>

<div class="header-container">
  <div>
    <button mat-button #account_button="matMenuTrigger" [matMenuTriggerFor]="account_menu" class="no-hover mr-sm-3">
      <img class="avatar" src="{{ avt_3 }}" />
    </button>
    <mat-menu #account_menu="matMenu">
      <div class="row avatar-container m-0">
        <div class="background"></div>
        <avatar title="{{ 'header_component.update_avatar' | translate }}" style="width: 64px; height: 64px"
          [name]="userName" [id]="userId" [imagePath]="getAva()" [nameSize]="28"></avatar>
      </div>
      <div class="col-lg-12 text-center mt-4">
        <p class="font-weight-bold prevent-overflow">username</p>
      </div>

      <button mat-menu-item (click)="toChangePassword()">
        <img src="{{ change_password }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">{{
          "header_component.change_password" | translate
          }}</span>
      </button>
      <button mat-menu-item (click)="toAccountManagement()">
        <img src="{{ account_setting }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">{{
          "header_component.acc_setting" | translate
          }}</span>
      </button>
      <button mat-menu-item (click)="logOut()" class="log-out">
        <img src="{{ logout }}" class="overwrite-default-icn-size" />
        <span class="button-txt-style">{{
          "header_component.logout" | translate
          }}</span>
      </button>
    </mat-menu>
  </div>
</div>