<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div class="mr-3 icons_arrow_line" (click)="onCancel()">
                <img src="{{ icons_arrow_line }}" class="icon-back" />
            </div>
            <div class="d-flex flex-column">
                <label class="header-title">
                    {{
                    detailOrderShop ? 'Chi tiết đơn hàng #' + detailOrderShop.order_shop_id : 'Chi tiết đơn hàng'
                    }}
                </label>
            </div>
            <div class="button-header"></div>
        </div>
        <div class="body-form">

        </div>
    </div>
</div>