<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <span class="header-title-text">Tổng quan</span>
        </div>
        <!-- Overview Stats -->
        <div class="row-container">
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Tổng doanh thu</div>
                    <div class="value">{{(overviewStats && overviewStats.totalRevenue) || 0}} VNĐ</div>
                </div>
                <div class="icon-stats revenue">
                    <img [src]="icon_money_bag" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Tổng đơn hàng</div>
                    <div class="value">{{(overviewStats && overviewStats.totalOrders)|| 0}}</div>
                </div>
                <div class="icon-stats order">
                    <img [src]="icon_complete_order" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Sản phẩm bán</div>
                    <div class="value">{{ (overviewStats && overviewStats.totalSoldProducts) || 0}}</div>
                </div>
                <div class="icon-stats sold-product">
                    <img [src]="icon_product_widge" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Khách hàng</div>
                    <div class="value">{{(overviewStats && overviewStats.totalCustomers) || 0}}</div>
                </div>
                <div class="icon-stats customer">
                    <img [src]="icon_group_customer" />
                </div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Doanh số theo thời gian
                </div>
                <div *ngIf="!revenueChartOptions" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="revenueChartOptions" echarts [options]="revenueChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart top-selling">
                <div class="box-chart-title">
                    Sản phẩm bán chạy
                </div>
                <div *ngIf="topSellingProducts.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <table *ngIf="topSellingProducts.length > 0" class="top-selling-table">
                    <thead>
                        <tr>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            <th>Kích thước</th>
                            <th>Số lượng bán</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of topSellingProducts">
                            <td>
                                <img src="{{preImage + '/' + product.image_url}}"
                                    alt="{{product.product?.product_name}}" style="width: 60px; height: 60px;">
                            </td>
                            <td>{{product.product?.product_name }}</td>
                            <td>{{product.color?.color_name}}</td>
                            <td>{{product.size?.size_code }}</td>
                            <td>{{product.totalQuantity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-chart status-order">
                <div class="box-chart-title">
                    Trạng thái đơn hàng (Tổng: {{ (orderStats && orderStats.totalOrders) || 0 }})
                </div>
                <div *ngIf="!orderPieChartOptions" class="no-data-wrapper">
                    <img [src]="image_chart_pie" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div echarts [options]="orderPieChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div style="flex: 2;display: flex;align-items: center;gap: 10px;">
                <div class="box-chart top-customer">
                    <div class="box-chart-title">
                        Top khách hàng chi tiêu
                    </div>
                    <div class="no-data-wrapper">
                        <img [src]="image_chart_line" />
                        <span class="no-data-text">Không có dữ liệu</span>
                    </div>
                </div>
                <div class="box-chart low-stock">
                    <div class="box-chart-title">
                        Sản phẩm tồn kho thấp
                    </div>
                    <div class="no-data-wrapper">
                        <img [src]="image_chart_bar" />
                        <span class="no-data-text">Không có dữ liệu</span>
                    </div>
                </div>
            </div>
            <div class="box-chart complete-rate-order">
                <div class="box-chart-title">
                    Tỉ lệ hoàn thành đơn hàng
                </div>
                <div class="no-data-wrapper">
                    <img [src]="image_chart_pie" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
            </div>
        </div>
    </div>
</div>