<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <span class="header-title-text">Thống kê</span>
        </div>
        <filter-stats-component (OnFilter)="onFilterStats($event)"></filter-stats-component>
        <!-- Overview Stats -->
        <div class="row-container">
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Tổng doanh thu</div>
                    <div class="value">
                        {{(overviewStats && overviewStats.totalRevenue.toLocaleString('vi-VN')) || 0}} VNĐ
                    </div>
                </div>
                <div class="icon-stats revenue">
                    <img [src]="icon_money_bag" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Tổng đơn hàng</div>
                    <div class="value">{{(overviewStats && overviewStats.totalOrders)|| 0}}</div>
                </div>
                <div class="icon-stats order">
                    <img [src]="icon_complete_order" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Sản phẩm bán</div>
                    <div class="value">{{ (overviewStats && overviewStats.totalSoldProducts) || 0}}</div>
                </div>
                <div class="icon-stats sold-product">
                    <img [src]="icon_product_widge" />
                </div>
            </div>
            <div class="box-overview-stats">
                <div class="overview-stats">
                    <div class="title">Khách hàng</div>
                    <div class="value">{{(overviewStats && overviewStats.totalCustomers) || 0}}</div>
                </div>
                <div class="icon-stats customer">
                    <img [src]="icon_group_customer" />
                </div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart revenue">
                <div class="box-chart-title">
                    Doanh số theo thời gian
                </div>
                <div *ngIf="!revenueChartOptions || revenueStats.revenues.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="revenueChartOptions && revenueStats.revenues.length > 0" echarts
                    [options]="revenueChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart top-selling">
                <div class="box-chart-title">
                    Sản phẩm bán chạy
                </div>
                <div *ngIf="topSellingProducts.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div class="table-responsive mt-1" *ngIf="topSellingProducts.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Sản phẩm</th>
                                <th>Số lượng bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of topSellingProducts">
                                <td>{{product.sku}}</td>
                                <td>
                                    {{product.product?.product_name}}({{product.color?.color_name}},{{product.size?.size_code}})
                                </td>
                                <td>{{product.totalQuantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-chart status-order">
                <div class="box-chart-title">
                    Trạng thái đơn hàng (Tổng: {{ (orderStats && orderStats.totalOrders) || 0 }})
                </div>
                <div *ngIf="!orderPieChartOptions" class="no-data-wrapper">
                    <img [src]="image_chart_pie" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div echarts [options]="orderPieChartOptions" class="chart-container"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart top-customer">
                <div class="box-chart-title">
                    Top khách hàng chi tiêu
                </div>
                <div *ngIf="topCustomers.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="topCustomers.length > 0" echarts [options]="topCustomerChartOptions"
                    class="chart-container"></div>
            </div>
            <div class="box-chart complete-rate-order">
                <div class="box-chart-title">
                    Tỉ lệ hoàn thành đơn hàng
                </div>
                <div class="no-data-wrapper" *ngIf="!orderCompletionChartOptions">
                    <img [src]="image_chart_pie" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div *ngIf="orderCompletionChartOptions" echarts [options]="orderCompletionChartOptions"
                    class="completion-chart"></div>
            </div>
        </div>

        <div class="row-container">
            <div class="box-chart low-stock">
                <div class="box-chart-title">
                    Sản phẩm tồn kho thấp
                </div>
                <div *ngIf="lowStockProducts.length === 0" class="no-data-wrapper">
                    <img [src]="image_chart_bar" />
                    <span class="no-data-text">Không có dữ liệu</span>
                </div>
                <div class="table-responsive mt-1" *ngIf="lowStockProducts.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>Tên sản phẩm</th>
                                <th>Tồn kho</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of lowStockProducts  | paginate: pagingLowStock;let i = index">
                                <td>{{product.sku}}</td>
                                <td>
                                    {{product.product?.product_name}}
                                    ({{product.color?.color_name}}, {{product.size?.size_code}})
                                </td>
                                <td>{{product.stock_quantity}}</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-end">
                                        <img class="common-icon" [src]="icon_edit" [nbTooltip]="'Xem chi tiết'"
                                            nbTooltipPlacement="bottom"
                                            (click)="onViewProduct(product.product?.id ?? 0)" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; align-items: center;margin-top: auto;">
                    <div class="total-items">
                        <span>Tổng số: {{ pagingLowStock.totalItems }}</span>
                    </div>
                    <div *ngIf="lowStockProducts.length > 6" class="pagination-flex">
                        <pagination-controls (pageChange)="onPageTopSellingChange($event)" previousLabel=""
                            nextLabel="">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>