<div class="custom-selects" [ngClass]="{'invalid-form': invalid}">
  <mat-form-field>
    <input #inputMat matInput (blur)="getDate(inputMat.value)" [formControl]="time"
      (dateInput)="getDate(inputMat.value)" (dateChange)="getDate(inputMat.value)" placeholder="dd/MM/yyyy"
      [matDatepicker]="picker" [ngClass]="{'disabled': isDisableForm}">
    <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="isDisableForm"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>