$text_hint_color: #8f9bb3;
$text_disabled_color: #8f9bb37a;

.custom-selects {
  height: 36px;
  border: 1px solid #e4e9f2;
  border-radius: 3px;
  overflow: hidden;
}

::ng-deep .date-picker-field {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

::ng-deep mat-datepicker-toggle button {
  margin-left: -50px;
  margin-bottom: 2px;
}

::ng-deep mat-datepicker-toggle {
  padding: 0;
}

::ng-deep mat-form-field input {
  font-size: 13px !important;
  color: #222b45 !important;
}

input::placeholder {
  font-size: 13px !important;
  color: $text_hint_color !important;
}

input.disabled {
  color: red !important;
}

input.disabled::placeholder {
  color: $text_disabled_color !important;
}

::ng-deep mat-form-field {
  height: 36px;
  border-radius: 3px;

  mat-mdc-form-field-flex {
    height: 100% !important;

    mat-mdc-form-field-infix {
      height: 100% !important;
      padding: 0 !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      display: flex;
      align-items: center;
    }
  }
}

::placeholder {
  font-size: 14px !important;
}

::ng-deep mat-form-field .focus-border:focus {
  border-bottom: 1px solid #0083fc !important;
}