<div class="router-static">
    <div class="search-and-filter">
        <div class="search-input-container">
            <input nbInput type="text" placeholder="Nhập tên danh mục">
        </div>
        <button nbButton class="util-box">
            <img class="common-icon" [src]="icon_filter" />
        </button>
        <button nbButton class="util-box">
            <img class="common-icon" [src]="icon_refresh" />
        </button>
        <button nbButton class="button-submit-form ml-auto" (click)="onCreate()">
            Thêm danh mục
        </button>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã danh mục</th>
                    <th>Hình ảnh</th>
                    <th>Tên danh mục</th>
                    <th>Loại</th>
                    <th style="color: transparent">Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories | paginate: paging;let i = index"
                    (click)="onUpdateCategory(category, i)">
                    <td style="width: 5%;">
                        <span style="font-size: 14px;">
                            {{offset + i}}
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span style="font-size: 14px;">
                            {{category.id}}
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <div class="image-container">
                            <img *ngIf="category.image_url !== ''" src="{{preImage}}/{{category.image_url}}">
                            <img *ngIf="category.image_url === ''" [src]="image_not_found">
                        </div>
                    </td>
                    <td style="width: 20%;">
                        <span style="font-size: 14px;">
                            {{category.category_name}}
                        </span>
                    </td>
                    <td style="width: 10%;">
                        <span style="font-size: 14px;">
                            Cha
                        </span>
                    </td>
                    <td style="width: 10%;" (click)="$event.stopPropagation()">
                        <div class="list-actions">
                            <img class="common-icon" [src]="icon_folder_open" [nbTooltip]="'Danh mục con'"
                                nbTooltipPlacement="bottom" (click)="onOpenViewChildList(category, i)" />
                            <img class="common-icon" [src]="icon_edit" [nbTooltip]="'Chỉnh sửa'"
                                nbTooltipPlacement="bottom" (click)="onUpdateCategory(category, i)" />
                            <nb-icon class="common-icon" icon="icon_delete" pack="mainIcon" [nbTooltip]="'Xóa'"
                                nbTooltipPlacement="bottom" (click)="onConfirmDeleteCategory(category, i)">
                            </nb-icon>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="categories.length === 0">
                    <td class="table-no-data text-center" colspan="11">
                        Không có dữ liệu
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: flex; align-items: center;">
        <div class="total-items">
            <span>Tổng số: {{ paging.totalItems }}</span>
        </div>
        <div class="pagination-flex">
            <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
            </pagination-controls>
        </div>
    </div>
</div>