<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div class="mr-3 icons_arrow_line" (click)="onCancel()">
                <img src="{{ icons_arrow_line }}" class="icon-back" />
            </div>
            <div class="d-flex flex-column">
                <label class="header-title">
                    {{
                    action === actionWebs.CREATE
                    ? "Thêm cửa hàng"
                    : updatedCoupon ? updatedCoupon.name : 'UNKNOWN'
                    }}
                </label>
            </div>
            <div class="button-header">
                <button nbButton *ngIf="action === actionWebs.UPDATE" class="button-cancel-form" (click)="onCancel()">
                    Hủy
                </button>
                <button nbButton class="button-submit-form ml-2" (click)="onSave()">
                    {{
                    action === actionWebs.CREATE ? 'Thêm mới' : 'Lưu'
                    }}
                </button>
            </div>
        </div>
        <div class="body-form">
            <ng-container [ngTemplateOutlet]="cruRef"></ng-container>
        </div>
    </div>
</div>

<ng-template #cruRef>
    <form *ngIf="cruForm" [formGroup]="cruForm">
        <span class="sub-title">Thông tin chi tiết</span>
        <div class="info-wrapper">
            <div class="info-left">
                <!-- Tên khuyến mãi -->
                <div class="info">
                    <label>
                        Tên khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="coupon_name" placeholder="Nhập tên khuyến mãi"
                            [ngClass]="{'invalid-form': (cruForm.get('coupon_name')?.dirty || isSubmit) && cruForm.get('coupon_name')?.invalid}">
                        <div
                            *ngIf="(cruForm.get('coupon_name')?.dirty || isSubmit) && cruForm.get('coupon_name')?.invalid">
                            <p class="vali-text-false" *ngIf="cruForm.get('coupon_name')?.hasError('required')">
                                Tên khuyến mãi không được bỏ trống
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('coupon_name')?.hasError('existedName')">
                                Tên khuyến mãi đã tồn tại
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Mã khuyến mãi -->
                <div class="info">
                    <label>
                        Mã khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container" style="display: flex;align-items: center;gap: 5px;">
                        <input nbInput type="text" formControlName="code" placeholder="Nhập mã khuyến mãi"
                            [ngClass]="{'invalid-form': cruForm.get('code')?.invalid}">
                        <button nbButton class="button-submit-form ml-2" (click)="generateCode()">
                            Sinh mã
                        </button>
                    </div>
                </div>
                <!-- Loại khuyến mãi -->
                <div class="info">
                    <label>
                        Loại<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <nb-select formControlName="discount_type">
                            <nb-option [value]="discountType.PERCENTAGE">Phần trăm (%)</nb-option>
                            <nb-option [value]="discountType.FIXED">Giá cố định</nb-option>
                        </nb-select>
                    </div>
                </div>
                <!-- Giá trị khuyến mãi -->
                <div class="info">
                    <label>
                        Giá trị khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="discount_value"
                            placeholder="Nhập giá trị khuyến mãi"
                            [ngClass]="{'invalid-form': (cruForm.get('discount_value')?.dirty || isSubmit) && cruForm.get('discount_value')?.invalid}">
                        <div
                            *ngIf="(cruForm.get('discount_value')?.dirty || isSubmit) && cruForm.get('discount_value')?.invalid">
                            <p class="vali-text-false" *ngIf="cruForm.get('discount_value')?.hasError('required')">
                                Giá trị khuyến mãi không được bỏ trống
                            </p>
                            <p class="vali-text-false"
                                *ngIf="cruForm.get('discount_value')?.hasError('mustBeGreaterThanZero')">
                                Giá trị khuyến mãi phải lớn hơn 0
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('discount_value')?.hasError('invalidValue')">
                                Giá trị khuyến mãi không được lớn hơn 100%
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('discount_value')?.hasError('isNumber')">
                                Chỉ được được phép nhập số
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Giá trị tối đa giảm -->
                <div class="info" *ngIf="cruForm.get('discount_type')?.value === discountType.PERCENTAGE">
                    <label>
                        Tối đa giảm<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="max_discount" placeholder="Nhập giá trị giảm tối đa"
                            [ngClass]="{'invalid-form': (cruForm.get('max_discount')?.dirty || isSubmit) && cruForm.get('max_discount')?.invalid}">
                        <div
                            *ngIf="(cruForm.get('max_discount')?.dirty || isSubmit) && cruForm.get('max_discount')?.invalid">
                            <p class="vali-text-false" *ngIf="cruForm.get('max_discount')?.hasError('required')">
                                Giá trị tối đa cho phép giảm không được bỏ trống
                            </p>
                            <p class="vali-text-false"
                                *ngIf="cruForm.get('max_discount')?.hasError('mustBeGreaterThanZero')">
                                Giá trị tối đa cho phép giảm phải lớn hơn 0
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('max_discount')?.hasError('isNumber')">
                                Chỉ được được phép nhập số
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Giá trị tối thiểu áp dụng -->
                <div class="info">
                    <label>
                        Giá trị tối thiểu<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="min_order_value"
                            placeholder="Nhập giá trị tối thiểu áp dụng"
                            [ngClass]="{'invalid-form': (cruForm.get('min_order_value')?.dirty || isSubmit) && cruForm.get('min_order_value')?.invalid}">
                        <div
                            *ngIf="(cruForm.get('min_order_value')?.dirty || isSubmit) && cruForm.get('min_order_value')?.invalid">
                            <p class="vali-text-false" *ngIf="cruForm.get('min_order_value')?.hasError('required')">
                                Giá trị tối thiểu áp dụng không được bỏ trống
                            </p>
                            <p class="vali-text-false"
                                *ngIf="cruForm.get('min_order_value')?.hasError('mustBeGreaterThanZero')">
                                Giá trị tối thiểu áp dụng phải lớn hơn 0
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('min_order_value')?.hasError('isNumber')">
                                Chỉ được được phép nhập số
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-right">
                <!-- Không giới hạn sử dụng -->
                <div class="info">
                    <label>
                        Giới hạn sử dụng
                    </label>
                    <div class="input-checkbox-container">
                        <input type="checkbox" formControlName="unlimited_usage" id="unlimited_usage">
                        <label for="unlimited_usage">Không giới hạn</label>
                    </div>
                </div>
                <!-- Giới hạn sử dụng -->
                <div class="info">
                    <label>
                        Sử dụng tối đa
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="max_usage" placeholder="Nhập giới hạn sử dụng"
                            [ngClass]="{'invalid-form': (cruForm.get('max_usage')?.dirty || isSubmit) && cruForm.get('max_usage')?.invalid}">
                        <ng-container
                            *ngIf="(cruForm.get('max_usage')?.dirty || isSubmit) && cruForm.get('max_usage')?.invalid">
                            <p class="vali-text-false" *ngIf="cruForm.get('max_usage')?.hasError('required')">
                                Sử dụng tối đa không được bỏ trống
                            </p>
                            <p class="vali-text-false"
                                *ngIf="cruForm.get('max_usage')?.hasError('mustBeGreaterThanZero')">
                                Sử dụng tối đa phải lớn hơn 0
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('max_usage')?.hasError('isNumber')">
                                Chỉ được được phép nhập số
                            </p>
                        </ng-container>
                    </div>
                </div>
                <!-- Giới hạn thời gian -->
                <div class="info">
                    <label>
                        Giới hạn áp dụng
                    </label>
                    <div class="input-checkbox-container">
                        <input type="checkbox" id="unlimited_time" formControlName="unlimited_time" />
                        <label for="unlimited_time">Không giới hạn</label>
                    </div>
                </div>
                <!-- Khoảng thời gian áp dụng -->
                <div class="info">
                    <label>
                        Bắt đầu
                    </label>
                    <div class="input-container">
                        <app-datepicker #fromTime [group]="cruForm" [controlName]="'valid_from'"
                            [isDisableForm]="cruForm.get('unlimited_time')?.value"
                            [invalid]="((cruForm.get('valid_from')?.dirty || isSubmit) && cruForm.get('valid_from')?.invalid!) || cruForm.hasError('invalidRangeDate')"></app-datepicker>
                        <div
                            *ngIf="((cruForm.get('valid_from')?.dirty || isSubmit) && cruForm.get('valid_from')?.invalid) || cruForm.hasError('invalidRangeDate')">

                            <p class="vali-text-false" *ngIf="cruForm.get('valid_from')?.hasError('required')">
                                Thời điểm bắt đầu không được bỏ trống
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('valid_from')?.hasError('invalidDate')">
                                Thời điểm bắt đầu không đúng định dạng (dd/MM/yyyy)
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm?.hasError('invalidRangeDate')">
                                Thời điểm bắt đầu không lớn hơn thời điểm kết thúc
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <label>
                        Kết thúc
                    </label>
                    <div class="input-container">
                        <app-datepicker #toTime [group]="cruForm" [controlName]="'valid_to'"
                            [isDisableForm]="cruForm.get('unlimited_time')?.value"
                            [invalid]="((cruForm.get('valid_to')?.dirty || isSubmit) && cruForm.get('valid_to')?.invalid!) || cruForm.hasError('invalidRangeDate')"></app-datepicker>
                        <div
                            *ngIf="((cruForm.get('valid_to')?.dirty || isSubmit) && cruForm.get('valid_to')?.invalid || cruForm.hasError('invalidRangeDate'))">
                            <p class="vali-text-false" *ngIf="cruForm.get('valid_to')?.hasError('required')">
                                Thời điểm kết thúc không được bỏ trống
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm.get('valid_to')?.hasError('invalidDate')">
                                Thời điểm kết thúc không đúng định dạng (dd/MM/yyyy)
                            </p>
                            <p class="vali-text-false" *ngIf="cruForm?.hasError('invalidRangeDate')">
                                Thời điểm bắt đầu không lớn hơn thời điểm kết thúc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>