.required {
    color: #FF0000;
}

.info-wrapper {
    display: flex;
    padding: 10px 15px;
    gap: 20px;

    .info-left,
    .info-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .info {
            display: flex;
            height: fit-content;

            label {
                font-size: 13px;
                font-weight: 400;
                display: block;
                line-height: 36px;
                width: 150px;
                flex-shrink: 0;
            }

            .input-container {
                width: 100%;
                max-width: 600px !important;

                input {
                    width: 100%;
                    max-width: 600px !important;
                    font-size: 13px !important;

                    &::placeholder {
                        font-size: 13px !important;
                    }
                }

                ::ng-deep nb-select {
                    width: 100%;
                    max-width: 600px !important;

                    button {
                        width: 100%;
                        background-color: white !important;

                        span {
                            font-size: 13px;
                        }
                    }

                    &.invalid {
                        button {
                            border-color: red !important;

                            &.top,
                            &.bottom {
                                border-color: red !important;
                            }
                        }
                    }
                }
            }

            .input-checkbox-container {
                display: flex;
                align-items: center;
                gap: 5px;
                width: 100%;
            }
        }
    }
}

nb-option {
    font-size: 13px !important;
}


label {
    margin-bottom: 0px;
}