<div class="screen">
    <div class="layout-size">
        <div class="d-flex align-items-center mb-2 header-form">
            <div class="mr-3 icons_arrow_line" (click)="onCancel()">
                <img src="{{ icons_arrow_line }}" class="icon-back" />
            </div>
            <div class="d-flex flex-column">
                <label class="header-title">
                    {{
                    action === actionWebs.CREATE
                    ? "Thêm cửa hàng"
                    : 'Tên khuyến mãi'
                    }}
                </label>
            </div>
            <div class="button-header">
                <button nbButton *ngIf="action === actionWebs.UPDATE" class="button-cancel-form" (click)="onCancel()">
                    Hủy
                </button>
                <button nbButton class="button-submit-form ml-2" (click)="onSave()">
                    {{
                    action === actionWebs.CREATE ? 'Thêm mới' : 'Lưu'
                    }}
                </button>
            </div>
        </div>
        <div class="body-form">
            <ng-container [ngTemplateOutlet]="cruRef"></ng-container>
        </div>
    </div>
</div>

<ng-template #cruRef>
    <form *ngIf="cruForm" [formGroup]="cruForm">
        <span class="sub-title">Thông tin chi tiết</span>
        <div class="info-wrapper">
            <div class="info-left">
                <!-- Tên khuyến mãi -->
                <div class="info">
                    <label>
                        Tên khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="coupon_name" placeholder="Nhập tên khuyến mãi">
                    </div>
                </div>
                <!-- Mã khuyến mãi -->
                <div class="info">
                    <label>
                        Mã khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container" style="display: flex;align-items: center;gap: 5px;">
                        <input nbInput type="text" formControlName="code" placeholder="Nhập mã khuyến mãi">
                        <button nbButton class="button-submit-form ml-2" (click)="generateCode()">
                            Sinh mã
                        </button>
                    </div>
                </div>
                <!-- Loại khuyến mãi -->
                <div class="info">
                    <label>
                        Loại<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <nb-select formControlName="discount_type">
                            <nb-option [value]="discountType.PERCENTAGE">Phần trăm (%)</nb-option>
                            <nb-option [value]="discountType.FIXED">Giá cố định</nb-option>
                        </nb-select>
                    </div>
                </div>
                <!-- Giá trị khuyến mãi -->
                <div class="info">
                    <label>
                        Giá trị khuyến mãi<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="discount_value"
                            placeholder="Nhập giá trị khuyến mãi">
                    </div>
                </div>
                <!-- Giá trị tối đa giảm -->
                <div class="info">
                    <label>
                        Tối đa giảm<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="max_discount"
                            placeholder="Nhập giá trị giảm tối đa">
                    </div>
                </div>
                <!-- Giá trị tối thiểu áp dụng -->
                <div class="info">
                    <label>
                        Giá trị tối thiểu<span class="required">*</span>
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="min_order_value"
                            placeholder="Nhập giá trị tối thiểu áp dụng">
                    </div>
                </div>
            </div>
            <div class="info-right">
                <!-- Giới hạn sử dụng -->
                <div class="info">
                    <label>
                        Giới hạn sử dụng
                    </label>
                    <div class="input-container">
                        <input nbInput type="text" formControlName="max_usage" placeholder="Nhập giới hạn sử dụng">
                    </div>
                </div>
                <!-- Khoảng thời gian áp dụng -->
                <div class="info">
                    <label>
                        Bắt đầu
                    </label>
                    <div class="input-container">
                        <app-datepicker [group]="cruForm" [controlName]="'valid_from'"></app-datepicker>
                    </div>
                </div>
                <div class="info">
                    <label>
                        Kết thúc
                    </label>
                    <div class="input-container">
                        <app-datepicker [group]="cruForm" [controlName]="'valid_to'"></app-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>